<!doctype html>
<html lang='en'>
<head>
<meta charset ="UTF-8">
<title> My app </title>
</head>
<body>
<h1> Addition of 2 nos. </h1>
<form action="/add" method="post">
<input type="text" name="num1">
<input type="text" name="num2">
<input type="submit" name="Submit">
</form>

</body>
<html>
