<!doctype html>
<html lang='en'>
<head>
<meta charset ="UTF-8">
<title> My app </title>
</head>
<body>
<h1> Login </h1>
<form action="/login" method="post">
<input type="text" name="username">
<input type="text" name="password">
<input type="submit" name="Submit">
</form>

</body>
<html>
